.header {
  display: flex;
  justify-content: center;
}

#checker-board {
  display: flex;
  justify-content: center;
}

img {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.light-cell {
  background: rgba(193, 165, 119, 0.654);
  width: 48px;
  height: 48px;
  user-select: none;
}

.dark-cell {
  display: flex;
  background: #9d571b;
  width: 48px;
  height: 48px;
  user-select: none;
  justify-content: space-evenly;
  align-items: center;
}

.selected {
  background: rgb(211, 206, 53);
}

.possible-move {
  background: rgba(98, 148, 182, 0.746);
}
